<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>GET방식 요청 테스트</title>
<style>
	ul{
		list-style : none;
		line-height : 200%;
	}
</style>
</head>
<body>

	<h1>GET방식으로 요청 후 응답데이터 받아오기</h1>
	
	<p>
		특징 1. GET방식으로 요청하는 경우 URL의 Header영역에 데이터들을 포함시켜서 요청함 <br>
		=> 사용자가 입력한 값(데이터들)들이 URL에 노출됨 <br>
		=> 보안에 취약함 <br>
		=> 즉, 로그인이나 회원가입 기능을 구현할 때는 GET방식이 부적합하다. <br><br>
		
		
		특징 2. Header영역은 전송하는 데이터의 길이 제한이 있음 <br>
		=> 방대한 데이터를 담았을 경우 초과된 데이터는 절단돼서 넘어감 <br><br>
		=> 즉, 게시글 작성 같은 경우 GET방식이 부적합하다. <br><br>
		
		특징 3. 조회기능을 만들 때 아주 유용하다. 사용자가 입력한 데이터가 URL에 노출이 되고 응답데이터가 캐싱되기 때문에
		즐겨찾기(북마크) == 해당 URL을 등록해놓는 기능
		=> 검색 기능 같은 경우 GET방식이 가장 적합
	</p>
	
	<h2>간단한 인적사항 - GET</h2>
	<p>개인정보를 입력해주세요. 입력 확인 후 버튼을 눌러주세요.</p>
	
	<!-- 
		form태그 안에 존재하는 submit 버튼 클릭 시
		form태그 속성 중에 action속성에 작성된 URL로 요청이 감!!
		Controller를 호출한다고 생각하면 됨! (Servlet)
		
		http://localhost:80/first/뭐라고요청을보내게만들지??개발자가정하는곳
		http://localhost:80/first/getTest
	 -->
	
	<form action="/first/getTest" method="get">
		<ul>
			<li>
				이름 : <input type="text" name="name" placeholder="네임"/>
			</li>
			<li>
				성별 : 
				남자 <input type="radio" name="gender" value="M">
				여자 <input type="radio" name="gender" value="F">
			</li>
			<li>
				나이 : <input type="number" name="age" placeholder="나이"/>
			</li>
			<li>
				사는지역 : 
				<select name="city">
					<option>서울</option>
					<option>제주도</option>					
				</select>
			</li>
			<li>
				키 : 140 <input type="range" min="140" max="200" name="height"> 200
			</li>
			<li>
				좋아하는음식(모두 고르시오)
				파스타 <input type="checkbox" value="파스타" name="food">
				스테이크 <input type="checkbox" value="스테이크" name="food">
				곱창 <input type="checkbox" value="곱창" name="food">
				초밥 <input type="checkbox" value="초밥" name="food">
				커피 <input type="checkbox" value="커피" name="food">
			</li>
			<li>
				<input type="submit">
				<input type="reset">
			</li>
		</ul>
	
	</form>	
	
	
</body>
</html>