<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

<comment>mapper</comment>

	<entry key="insert">
		INSERT 
		  INTO 
		  	   TB_ORDER 
		VALUES
			   (
			   ?,
			   ?,
			   ?,
			   ?,
			   ?,
			   ?,
			   ?,
			   ?,
			   ?,
			   DEFAULT
			   )
	</entry>
	
	<entry key="findAll">
		SELECT 
			   NAME, 
			   PHONE, 
			   ADDRESS, 
			   REQUEST, 
			   SANDWICH, 
			   VEGETABLE, 
			   SAUCE, 
			   COOKIE, 
			   PAYMENT, 
			   ORDER_DATE 
		FROM 
			   TB_ORDER
	   ORDER
	   	  BY
	   	  	   ORDER_DATE DESC
	</entry>



</properties>
